packrat/lib*/
.Rproj.user
data/processed/unsupervised_random_forest_model_budgie_calls_stress_jun_2021.RDS
data/processed/tailored_budgie_calls_sel_tab (cópia).csv
data/processed/behavioral_response_models.RDS
data/processed/physiological_response_models.RDS
data/processed/stress_on_learning_models.RDS
data/processed/stress_on_learning_models_week_2.RDS
data/processed/stress_on_learning_models_week_3.RDS
data/processed/treatment_models.RDS
data/processed/treatment_models_week_factor.RDS
data/processed/regressions/behav-acustic.plasticity by treatment + week + (1|ID) + (1|round).rds
data/processed/regressions/behav-call.count by treatment + week + (1|ID) + (1|round).rds
data/processed/regressions/foxp2_by_treatment_model.rds
data/processed/regressions/physio-acustic.plasticity by treatment + week + (1|ID) + (1|round).rds
data/processed/regressions/physio-baseline.CORT by treatment + week + (1|ID) + (1|round).rds
data/processed/regressions/physio-breath.rate by treatment + week + (1|ID) + (1|round).rds
data/processed/regressions/physio-stress.CORT by treatment + week + (1|ID) + (1|round).rds
data/processed/regressions/physio-stress.response by treatment + week + (1|ID) + (1|round).rds
data/processed/regressions/physio-weight by treatment + week + (1|ID) + (1|round).rds
data/processed/regressions/qpcr_by_treatment_model.rds
data/processed/regressions/behav-acoustic.diversity by treatment + week + (1|ID) + (1|round).rds
data/processed/regressions/behav-acoustic.convergence by treatment + week + (1|ID) + (1|round).rds
